#header {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
@media screen and (max-width: 650px) {
  #header {
    display: none;
  }
}
#header canvas {
  background-color: transparent;
}
#header #greetings {
  position: absolute;
  left: 30%;
  top: 50%;
  color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  cursor: default;
}
@media screen and (max-width: 830px) {
  #header #greetings {
    left: 50%;
  }
}
#header #greetings h1 {
  margin: 0;
  font-size: 3em;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
}
#header #greetings p {
  font-size: 1.1em;
  color: rgba(233, 233, 233, 0.6);
}

#about {
  width: 100%;
  overflow: hidden;
  background-color: #2f2d32;
  position: relative;
}
#about #navbar {
  padding: 15px 40px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#about #navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: white;
  gap: 40px;
  font-size: 1.2em;
}
@media screen and (max-width: 800px) {
  #about #navbar ul {
    font-size: 1em;
    gap: 30px;
  }
}
#about #navbar ul li {
  opacity: 1;
  cursor: pointer;
  transition: all 0.2s;
}
#about #navbar ul li span {
  transition: all 0.2s;
}
#about #navbar ul li:hover {
  transform: skew(-6deg);
}
#about #navbar ul li:hover span {
  color: rgb(121, 148, 179);
  font-size: 0.9em;
}
#about #section-1-sub {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 3fr 4fr;
}
@media screen and (max-width: 700px) {
  #about #section-1-sub {
    grid-template-columns: 1fr;
  }
}
#about #section-1-sub .s1__article1 {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  #about #section-1-sub .s1__article1 {
    position: absolute;
    height: 100%;
  }
}
#about #section-1-sub .s1__article1 #image-cont-outer {
  border: solid rgba(114, 110, 110, 0.5) 2px;
  width: 80%;
  aspect-ratio: 1/1;
  position: relative;
  display: grid;
  place-content: center;
  transform: rotate(10deg);
}
@media screen and (max-width: 1000px) {
  #about #section-1-sub .s1__article1 #image-cont-outer {
    margin-top: -100px;
  }
}
@media screen and (max-width: 800px) {
  #about #section-1-sub .s1__article1 #image-cont-outer {
    opacity: 0.2;
  }
}
@media screen and (max-width: 550px) {
  #about #section-1-sub .s1__article1 #image-cont-outer {
    width: 550px;
  }
}
#about #section-1-sub .s1__article1 #image-cont-outer #image-cont {
  width: 100%;
  transform: rotate(-10deg);
  background-color: rgba(95, 95, 95, 0.2);
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  display: grid;
  place-content: center;
}
#about #section-1-sub .s1__article1 #image-cont-outer #image-cont img {
  height: 110%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: opacity(70%) grayscale(50%);
  transform: rotate(10deg);
}
#about #section-1-sub .s1__article2 {
  grid-column-start: 2;
  position: relative;
  z-index: 20;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
@media screen and (max-width: 700px) {
  #about #section-1-sub .s1__article2 {
    padding: 30px;
    align-items: center;
  }
}
#about #section-1-sub .s1__article2 h3 {
  color: rgb(151, 151, 151);
  font-size: 1.3em;
  text-align: end;
}
@media screen and (max-width: 700px) {
  #about #section-1-sub .s1__article2 h3 {
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  #about #section-1-sub .s1__article2 h3 {
    font-size: 1.1em;
  }
}
#about #section-1-sub .s1__article2 h1 {
  color: rgb(199, 195, 195);
  font-size: 2.2em;
  font-weight: 700;
  text-align: end;
}
@media screen and (max-width: 700px) {
  #about #section-1-sub .s1__article2 h1 {
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  #about #section-1-sub .s1__article2 h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 550px) {
  #about #section-1-sub .s1__article2 h1 {
    font-size: 1.8em;
  }
}
#about #section-1-sub .s1__article2 h1 span {
  color: rgb(121, 148, 179);
}
#about #section-1-sub .s1__article2 div {
  margin: 30px 0px;
  width: 80%;
  height: 2px;
  border-radius: 500px;
  background-color: rgb(121, 148, 179);
}
#about #section-1-sub .s1__article2 p {
  color: rgb(151, 151, 151);
  font-size: 1em;
  text-align: end;
}
@media screen and (max-width: 1000px) {
  #about #section-1-sub .s1__article2 p {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 700px) {
  #about #section-1-sub .s1__article2 p {
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  #about #section-1-sub .s1__article2 p {
    font-size: 0.8em;
  }
}
#about #section-1-sub .s1__article2 ul {
  margin: 30px;
  margin-top: 70px !important;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 700px) {
  #about #section-1-sub .s1__article2 ul {
    margin-top: 50px !important;
    gap: 20px;
    margin: 0;
  }
}
@media screen and (max-width: 550px) {
  #about #section-1-sub .s1__article2 ul {
    gap: 12px;
  }
}
#about #section-1-sub .s1__article2 ul li {
  width: 50px;
  display: grid;
  place-content: center;
  aspect-ratio: 1/1;
  border-top: solid rgb(95, 94, 94) 1px;
  font-size: 1.2em;
  transition: all 0.3s;
  position: relative;
}
@media screen and (max-width: 400px) {
  #about #section-1-sub .s1__article2 ul li {
    width: 42px;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 350px) {
  #about #section-1-sub .s1__article2 ul li {
    width: 37px;
    font-size: 0.8em;
  }
}
#about #section-1-sub .s1__article2 ul li a {
  position: absolute;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgb(159, 159, 159);
}
#about #section-1-sub .s1__article2 ul li::after {
  background-color: #3a373d;
  width: 100%;
  height: 0%;
  position: absolute;
  content: "";
  z-index: -1;
  transition: all 0.3s;
}
@media screen and (max-width: 700px) {
  #about #section-1-sub .s1__article2 ul li::after {
    background-color: #545057;
  }
}
#about #section-1-sub .s1__article2 ul li:hover {
  border-color: transparent;
  cursor: pointer;
}
#about #section-1-sub .s1__article2 ul li:hover::after {
  height: 100%;
}

#skills {
  min-height: 100vh;
  background-color: #2f2d32;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#skills .skills__s1 {
  position: relative;
  z-index: 20;
  padding: 30px;
  width: 100%;
}
@media screen and (max-width: 700px) {
  #skills .skills__s1 {
    padding: 18px;
  }
}
#skills .skills__s1 h2 {
  font-size: 1.6em;
  color: rgb(140, 139, 139);
  font-weight: 300;
  margin-bottom: 50px;
}
#skills .skills__s1 .grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr 1fr;
  width: 100%;
}
@media screen and (max-width: 750px) {
  #skills .skills__s1 .grid {
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 3fr 3fr;
  }
}
@media screen and (max-width: 610px) {
  #skills .skills__s1 .grid {
    grid-template-columns: 1fr !important;
  }
}
#skills .skills__s1 .grid .trait {
  padding: 10px 20px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: solid rgba(121, 148, 179, 0.3) 1.5px;
  background-color: rgba(121, 148, 179, 0.05);
}
@media screen and (max-width: 610px) {
  #skills .skills__s1 .grid .trait {
    min-height: 180px;
  }
}
@media screen and (max-width: 800px) {
  #skills .skills__s1 .grid .trait {
    padding: 10px 15px;
  }
}
#skills .skills__s1 .grid .trait h1 {
  color: rgb(208, 208, 208);
}
#skills .skills__s1 .grid .trait span {
  width: 10%;
  height: 3px;
  border-radius: 500px;
  background-color: rgb(155, 153, 153);
}
@media screen and (max-width: 600px) {
  #skills .skills__s1 .grid .trait span {
    height: 2px;
  }
}
#skills .skills__s1 .grid .trait p {
  color: rgb(178, 177, 177);
  font-size: 0.9em;
  text-align: center;
  padding: 0px 30px;
}
@media screen and (max-width: 1000px) {
  #skills .skills__s1 .grid .trait p {
    font-size: 0.75em;
    padding: 0px 15px;
  }
}
#skills .skills__s1 .grid article {
  border-top: solid rgb(96, 96, 95) 2px;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 750px) {
  #skills .skills__s1 .grid article {
    border: none;
    grid-column-start: 2;
    grid-column-end: 2;
  }
}
@media screen and (max-width: 610px) {
  #skills .skills__s1 .grid article {
    grid-column-start: 1;
    grid-column-end: 1;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  #skills .skills__s1 .grid article {
    align-items: flex-start;
  }
}
#skills .skills__s1 .grid article ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 40px;
  padding-left: 20px;
}
@media screen and (max-width: 750px) {
  #skills .skills__s1 .grid article ul {
    gap: 30px;
    padding: 0px;
  }
}
@media screen and (max-width: 680px) {
  #skills .skills__s1 .grid article ul {
    gap: 22px;
  }
}
#skills .skills__s1 .grid article ul li {
  width: 50px;
  display: grid;
  place-content: center;
  aspect-ratio: 1/1;
  font-size: 1.5em;
  color: rgb(159, 159, 159);
}
@media screen and (max-width: 680px) {
  #skills .skills__s1 .grid article ul li {
    width: 40px;
    font-size: 1.3em;
  }
}
@media screen and (max-width: 600px) {
  #skills .skills__s1 .grid article ul li {
    width: 28px;
    font-size: 1.05em;
  }
}
#skills .skills__s1 .grid article ul li img {
  width: 22px;
  filter: invert(100%) opacity(60%);
}
@media screen and (max-width: 680px) {
  #skills .skills__s1 .grid article ul li img {
    width: 18px;
  }
}
@media screen and (max-width: 600px) {
  #skills .skills__s1 .grid article ul li img {
    width: 14px;
  }
}

#projects {
  min-height: 100vh;
  background-color: #2f2d32;
  padding: 30px;
}
@media screen and (max-width: 750px) {
  #projects {
    padding: 20px;
    padding-top: 100px;
  }
}
#projects #break {
  width: 100%;
  height: 200px;
  background-color: rgba(95, 95, 95, 0.2);
  position: relative;
}
@media screen and (max-width: 750px) {
  #projects #break {
    height: auto;
    background-color: transparent;
  }
}
#projects #break ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  gap: 30px;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  #projects #break ul {
    grid-template-columns: 1fr;
  }
}
#projects #break ul li {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 750px) {
  #projects #break ul li {
    align-items: flex-start;
  }
}
@media screen and (max-width: 600px) {
  #projects #break ul li {
    gap: 8px;
  }
}
#projects #break ul li div {
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  transition: all 0.3s;
}
@media screen and (max-width: 1100px) {
  #projects #break ul li div {
    font-size: 1em;
  }
}
#projects #break ul li span {
  color: rgb(179, 176, 176);
  font-weight: 200;
  font-size: 0.9em;
  padding: 0px 30px;
  text-align: center;
  transition: all 0.3s;
}
@media screen and (max-width: 1100px) {
  #projects #break ul li span {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 750px) {
  #projects #break ul li span {
    text-align: left;
    padding: 0px 15px;
  }
}
@media screen and (max-width: 600px) {
  #projects #break ul li span {
    padding: 0px 5px;
  }
}
#projects #break ul li img {
  position: absolute;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: opacity(10%) invert(50%);
  transition: all 0.3s;
}
@media screen and (max-width: 750px) {
  #projects #break ul li img {
    display: none;
  }
}
@media screen and (min-width: 750px) {
  #projects #break ul li:hover img {
    height: 140%;
  }
  #projects #break ul li:hover div {
    font-size: 1.3rem;
  }
  #projects #break ul li:hover span {
    color: grey;
  }
}
#projects .projects-content {
  padding: 80px 0px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media screen and (max-width: 800px) {
  #projects .projects-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
#projects .projects-content .project,
#projects .projects-content .other {
  overflow: hidden;
  position: relative;
  border: solid rgb(61, 60, 60) 1.5px;
}
@media screen and (min-width: 1000px) {
  #projects .projects-content .project,
  #projects .projects-content .other {
    aspect-ratio: 5/3;
  }
}
#projects .projects-content .project .project-info,
#projects .projects-content .other .project-info {
  position: relative;
  z-index: 30;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  background: linear-gradient(to bottom, rgb(47, 45, 50), transparent);
}
#projects .projects-content .project .project-info h1,
#projects .projects-content .other .project-info h1 {
  color: rgb(193, 190, 190);
  font-weight: 800;
  padding: 10px 0px;
  font-size: 1.2em;
  position: relative;
  z-index: 30;
}
@media screen and (max-width: 900px) {
  #projects .projects-content .project .project-info h1,
  #projects .projects-content .other .project-info h1 {
    font-size: 1em;
  }
}
@media screen and (max-width: 700px) {
  #projects .projects-content .project .project-info h1,
  #projects .projects-content .other .project-info h1 {
    font-size: 0.9em;
  }
}
#projects .projects-content .project .project-info hr,
#projects .projects-content .other .project-info hr {
  position: relative;
  width: 80%;
  height: 1.5px;
  background-color: rgb(121, 148, 179);
  border-radius: 500px;
  opacity: 0.4;
}
#projects .projects-content .project .project-info p,
#projects .projects-content .other .project-info p {
  transform: translate(-30px, -30px);
  color: rgb(135, 132, 132);
  font-weight: 100;
  font-size: 0.8em;
  padding-top: 20px;
  transition: all 0.3s;
  opacity: 0;
}
@media screen and (max-width: 700px) {
  #projects .projects-content .project .project-info p,
  #projects .projects-content .other .project-info p {
    font-size: 0.7em;
  }
}
#projects .projects-content .project:hover .project-info p,
#projects .projects-content .other:hover .project-info p {
  transform: translate(0);
  opacity: 1;
}
@media screen and (max-width: 800px) {
  #projects .projects-content .project {
    min-height: 250px;
  }
}
#projects .projects-content .project img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(50%) opacity(30%) blur(0.5px);
  transition: all 0.3s;
}
#projects .projects-content .project:hover img {
  transform: translate(30px, 30px);
  opacity: 0.3;
}
#projects .projects-content .other {
  display: grid;
  grid-template-columns: 5fr 5fr;
}
@media screen and (max-width: 1100px) {
  #projects .projects-content .other {
    grid-template-columns: 4fr 5fr;
  }
}
@media screen and (max-width: 900px) {
  #projects .projects-content .other {
    grid-template-columns: 3fr 5fr;
  }
}
@media screen and (max-width: 500px) {
  #projects .projects-content .other {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
#projects .projects-content .other div:nth-child(1) {
  padding: 20px 20px;
  display: grid;
  gap: 15px;
  grid-template-rows: repeat(4, 1fr);
}
#projects .projects-content .other div:nth-child(1) a {
  text-decoration: none;
  background-color: rgba(108, 111, 114, 0.2);
  border: solid #3e3c41 1px;
  opacity: 0.6;
  color: rgb(121, 148, 179);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 8px 13px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s;
}
@media screen and (max-width: 900px) {
  #projects .projects-content .other div:nth-child(1) a {
    font-size: 0.8em;
  }
}
#projects .projects-content .other div:nth-child(1) a:hover {
  background-color: rgba(121, 148, 179, 0.5);
  color: white;
}
#projects .projects-content .other div:nth-child(2) {
  border-right: solid rgb(61, 60, 60) 1.5px;
  position: relative;
  overflow: hidden;
}
#projects .projects-content .other div:nth-child(2) article {
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  left: 0;
  top: 0;
  transition: all 0.3s;
  padding: 20px;
}
@media screen and (max-width: 900px) {
  #projects .projects-content .other div:nth-child(2) article {
    padding: 20px 10px;
    width: calc(100% - 20px);
    height: calc(100% - 40px);
  }
}
@media screen and (max-width: 500px) {
  #projects .projects-content .other div:nth-child(2) article {
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }
}
#projects .projects-content .other div:nth-child(2) #ambient {
  position: relative;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}
#projects .projects-content .other div:nth-child(2) #ambient img {
  opacity: 0.5;
  filter: invert(80%);
  width: 70%;
}
@media screen and (max-width: 1000px) {
  #projects .projects-content .other div:nth-child(2) #ambient img {
    width: 60%;
  }
}
#projects .projects-content .other div:nth-child(2) #ambient h3 {
  color: rgb(121, 148, 179);
  opacity: 0.7;
  font-weight: 700;
}
@media screen and (max-width: 1000px) {
  #projects .projects-content .other div:nth-child(2) #ambient h3 {
    font-size: 0.9em;
  }
}
#projects .projects-content .other div:nth-child(2) #ambient hr {
  opacity: 0.4;
  height: 1.5px;
  border: none;
  background-color: rgb(121, 148, 179);
  border-radius: 500px;
  width: 50%;
}
#projects .projects-content .other div:nth-child(2) #ambient p {
  color: rgb(146, 145, 145);
  font-size: 0.7em;
  font-weight: 100;
}
@media screen and (max-width: 1000px) {
  #projects .projects-content .other div:nth-child(2) #ambient p {
    font-size: 0.6;
  }
}
#projects .projects-content .other div:nth-child(2) #ambient a {
  text-decoration: none;
  background-color: rgba(108, 111, 114, 0.2);
  border: solid #3e3c41 1px;
  opacity: 0.6;
  color: rgb(121, 148, 179);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  padding: 8px 13px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s;
}
#projects .projects-content .other div:nth-child(2) #ambient a:hover {
  background-color: rgba(121, 148, 179, 0.5);
  color: white;
}
@media screen and (max-width: 1000px) {
  #projects .projects-content .other div:nth-child(2) #ambient a {
    padding: 5px 10px;
    font-size: 0.9em;
  }
}
#projects .projects-content .other div:nth-child(2) #ecommerce,
#projects .projects-content .other div:nth-child(2) #textem,
#projects .projects-content .other div:nth-child(2) #musicapp,
#projects .projects-content .other div:nth-child(2) #awkward {
  transform: translateX(20%);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}
@media screen and (max-width: 1000px) {
  #projects .projects-content .other div:nth-child(2) #ecommerce,
  #projects .projects-content .other div:nth-child(2) #textem,
  #projects .projects-content .other div:nth-child(2) #musicapp,
  #projects .projects-content .other div:nth-child(2) #awkward {
    gap: 5px;
  }
}
#projects .projects-content .other div:nth-child(2) #ecommerce h3,
#projects .projects-content .other div:nth-child(2) #textem h3,
#projects .projects-content .other div:nth-child(2) #musicapp h3,
#projects .projects-content .other div:nth-child(2) #awkward h3 {
  color: rgb(121, 148, 179);
  opacity: 0.7;
  font-weight: 700;
}
@media screen and (max-width: 1000px) {
  #projects .projects-content .other div:nth-child(2) #ecommerce h3,
  #projects .projects-content .other div:nth-child(2) #textem h3,
  #projects .projects-content .other div:nth-child(2) #musicapp h3,
  #projects .projects-content .other div:nth-child(2) #awkward h3 {
    font-size: 0.9em;
  }
}
#projects .projects-content .other div:nth-child(2) #ecommerce hr,
#projects .projects-content .other div:nth-child(2) #textem hr,
#projects .projects-content .other div:nth-child(2) #musicapp hr,
#projects .projects-content .other div:nth-child(2) #awkward hr {
  opacity: 0.4;
  height: 1.5px;
  border: none;
  background-color: rgb(121, 148, 179);
  border-radius: 500px;
  width: 50%;
}
@media screen and (max-width: 1000px) {
  #projects .projects-content .other div:nth-child(2) #ecommerce hr,
  #projects .projects-content .other div:nth-child(2) #textem hr,
  #projects .projects-content .other div:nth-child(2) #musicapp hr,
  #projects .projects-content .other div:nth-child(2) #awkward hr {
    display: none;
  }
}
#projects .projects-content .other div:nth-child(2) #ecommerce p,
#projects .projects-content .other div:nth-child(2) #textem p,
#projects .projects-content .other div:nth-child(2) #musicapp p,
#projects .projects-content .other div:nth-child(2) #awkward p {
  color: rgb(146, 145, 145);
  font-size: 0.7em;
  padding: 10px 0px;
  font-weight: 100;
}
@media screen and (max-width: 1000px) {
  #projects .projects-content .other div:nth-child(2) #ecommerce p,
  #projects .projects-content .other div:nth-child(2) #textem p,
  #projects .projects-content .other div:nth-child(2) #musicapp p,
  #projects .projects-content .other div:nth-child(2) #awkward p {
    font-size: 0.6em;
  }
}
#projects .projects-content .other div:nth-child(2) #ecommerce ul,
#projects .projects-content .other div:nth-child(2) #textem ul,
#projects .projects-content .other div:nth-child(2) #musicapp ul,
#projects .projects-content .other div:nth-child(2) #awkward ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  list-style: none;
}
#projects .projects-content .other div:nth-child(2) #ecommerce ul li,
#projects .projects-content .other div:nth-child(2) #textem ul li,
#projects .projects-content .other div:nth-child(2) #musicapp ul li,
#projects .projects-content .other div:nth-child(2) #awkward ul li {
  opacity: 0.5;
}
#projects .projects-content .other div:nth-child(2) #ecommerce ul li i,
#projects .projects-content .other div:nth-child(2) #textem ul li i,
#projects .projects-content .other div:nth-child(2) #musicapp ul li i,
#projects .projects-content .other div:nth-child(2) #awkward ul li i {
  color: white;
  font-size: 1.2em;
}
@media screen and (max-width: 1000px) {
  #projects .projects-content .other div:nth-child(2) #ecommerce ul li i,
  #projects .projects-content .other div:nth-child(2) #textem ul li i,
  #projects .projects-content .other div:nth-child(2) #musicapp ul li i,
  #projects .projects-content .other div:nth-child(2) #awkward ul li i {
    font-size: 0.8em;
  }
}
#projects .projects-content .other div:nth-child(2) #ecommerce ul li img,
#projects .projects-content .other div:nth-child(2) #textem ul li img,
#projects .projects-content .other div:nth-child(2) #musicapp ul li img,
#projects .projects-content .other div:nth-child(2) #awkward ul li img {
  width: 19px;
  filter: invert(80%);
}
@media screen and (max-width: 1000px) {
  #projects .projects-content .other div:nth-child(2) #ecommerce ul li img,
  #projects .projects-content .other div:nth-child(2) #textem ul li img,
  #projects .projects-content .other div:nth-child(2) #musicapp ul li img,
  #projects .projects-content .other div:nth-child(2) #awkward ul li img {
    width: 14px;
  }
}

#contact {
  background-color: #2f2d32;
  padding: 30px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 6fr 1fr;
}
@media screen and (max-width: 900px) {
  #contact {
    padding: 10px;
    padding-bottom: 8px;
  }
}
@media screen and (max-width: 600px) {
  #contact {
    padding: 7px;
  }
}
@media screen and (max-width: 900px) {
  #contact {
    grid-template-columns: 1fr !important;
    grid-template-rows: 6fr 6fr 1fr;
  }
}
#contact .cnt__article1 {
  padding: 20px;
}
@media screen and (max-width: 700px) {
  #contact .cnt__article1 {
    padding: 10px;
  }
}
#contact .cnt__article1 form {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 4fr 1fr;
  gap: 10px;
}
#contact .cnt__article1 form input,
#contact .cnt__article1 form textarea {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgba(121, 148, 179, 0.05);
  color: rgb(121, 148, 179);
  border: none;
  outline: none;
}
#contact .cnt__article1 form textarea {
  font-size: 1.1em;
  resize: none;
}
#contact .cnt__article1 form button {
  border-radius: 5px;
  background-color: rgb(83, 82, 82);
  cursor: pointer;
  border: none;
  color: rgb(194, 189, 189);
  transition: all 0.2s;
}
#contact .cnt__article1 form button:hover {
  background-color: rgb(100, 99, 99);
}
#contact .cnt__article1 form button:disabled {
  opacity: 0.4;
  cursor: default;
}
#contact .cnt__article1 form button:disabled:hover {
  background-color: rgb(83, 82, 82);
}
#contact .cnt__article2 {
  border-bottom: none;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 10px;
}
@media screen and (max-width: 900px) {
  #contact .cnt__article2 {
    grid-row-start: 1;
  }
}
@media screen and (max-width: 700px) {
  #contact .cnt__article2 {
    grid-template-rows: 1fr 2fr;
  }
}
#contact .cnt__article2 header ul {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}
@media screen and (max-width: 700px) {
  #contact .cnt__article2 header ul {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media screen and (max-width: 450px) {
  #contact .cnt__article2 header ul {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
#contact .cnt__article2 header ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
}
@media screen and (max-width: 1200px) {
  #contact .cnt__article2 header ul li {
    font-size: 0.8em;
  }
}
#contact .cnt__article2 header ul li:first-child {
  border: none;
  align-items: flex-start;
}
#contact .cnt__article2 header ul li:nth-child(2) {
  align-items: center;
  border-left: solid rgb(116, 114, 114) 1px;
  border-right: solid rgb(116, 114, 114) 1px;
}
@media screen and (max-width: 1100px) {
  #contact .cnt__article2 header ul li:nth-child(2) {
    border: none;
  }
}
@media screen and (max-width: 700px) {
  #contact .cnt__article2 header ul li:nth-child(2) {
    align-items: flex-start;
  }
}
#contact .cnt__article2 header ul li:last-child {
  align-items: flex-end;
}
@media screen and (max-width: 700px) {
  #contact .cnt__article2 header ul li:last-child {
    align-items: flex-start;
  }
}
#contact .cnt__article2 header ul li span:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgb(180, 175, 175);
}
#contact .cnt__article2 header ul li span:first-of-type i {
  font-size: 0.6em;
  color: rgb(73, 73, 73);
}
#contact .cnt__article2 header ul li span:last-of-type {
  color: rgb(151, 148, 148);
  font-weight: 100;
  font-size: 0.9em;
}
#contact .cnt__article2 header ul li div {
  width: 20%;
  height: 1.5px;
  border-radius: 500px;
  background-color: rgb(135, 133, 133);
}
#contact .cnt__article2 iframe {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  filter: invert(100%) opacity(40%);
}
#contact .footer {
  padding: 27px;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 0.9em;
  display: grid;
  place-content: center;
  color: rgb(141, 138, 138);
  border-top: solid rgb(118, 117, 117) 1px;
}
@media screen and (max-width: 900px) {
  #contact .footer {
    grid-column-end: auto;
    grid-column-start: auto;
  }
}
@media screen and (max-width: 500px) {
  #contact .footer {
    font-size: 0.7em;
  }
}

* {
  margin: 0%;
  padding: 0%;
}

html,
body {
  overflow-x: hidden;
  background-color: rgb(25, 23, 28);
  position: relative;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

.all {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */